<h1>My Clothes</h1>
<div>
    <div>{{error}}</div>
    <a href="/clothes/new">Add +</a>
    <br>
    {{#each clothingItems}}
        <div class="form-div">
            {{!-- <img alt="{{name}}" src="data:image/png;base64,{{image}}"> --}}
            <img alt="{{name}}" src="{{image}}">
            <p>{{image}}</p>
            <p>{{name}}</p>
            <p>Type: {{type}}</p>
        </div>
    {{/each}}
</div>