<h1 class="right">My Outfits</h1>
<a href="/outfits/new">Add +</a>
<a href="/outfits/generate">Generate +</a>
<br>
<a href="/outfits/likes">View Liked Outfits</a>
<br>
<a href="/outfits/saves">View Saved Outfits</a>
<link rel="stylesheet" href="/public/styles/modal_public.css">
<article class="main">
    <p class="error-message" id="server-error">{{error}}</p>
    <p id="outfit-message">{{msg}}</p>
    {{#each outfits}}
        <div class="outfit-card">
            <!-- Carousel wrapper -->
            <div id="a{{_id}}" class="carousel carousel-dark slide" data-mdb-ride="carousel" data-mdb-interval="false">

            <!-- Inner -->
            <div class="carousel-inner">
                {{#each clothingData}}
                <!-- Single Item -->
                <div class="carousel-item">
                    <img class="outfit-card-image d-block w-100" src="/uploads/{{image}}" alt="{{name}}">
                </div>
                {{/each}}
            </div>

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-mdb-target="#a{{_id}}" data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#a{{_id}}" data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
            <!-- Carousel wrapper -->
            <div class="outfit-card-details">
                <h3 class="outfit-title">{{outfitName}}</h3>
                <div class="outfit-card-creator-likes">
                    {{!-- <p>{{creator}}</p> --}}
                    <p>{{likes.length}} likes</p>
                </div>
                <a class="card-btn" href="/outfits/edit/{{_id}}">Edit</a>
                <a class="card-btn outfit-delete" href="/outfits/delete/{{_id}}">Delete</a>
            </div>
        </div>
    {{/each}}
    <br>
    <button type="button" onclick="document.getElementById('public-modal').style.display='block'" class="button-44" id="make-outfits-public" data-toggle="modal" data-target="#public-modal">Make all outfits public</button>
    <div id="public-modal" class="modal">
  <span onclick="document.getElementById('public-modal').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content" action="/publicize" method="POST">
    <div class="container">
      <h1>Make All Outfits Public</h1>
      <p>Waring: this action cannot be undone.</p>
    
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('public-modal').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="deletebtn" id="confirm-public">Confirm</button>
      </div>
    </div>
  </form>
</div>

<div id="delete-modal" class="modal">
  <span onclick="document.getElementById('delete-modal').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content" id="form-delete" action="/outfit" method="GET">
    <div class="container">
      <h1>Delete outfit</h1>
      <p>Warning: this action cannot be undone.</p>
    
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('delete-modal').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="deletebtn" id="confirm-delete">Delete</button>
      </div>
    </div>
  </form>
</div>

</article>
 <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">
</script>
