<article class="main">
    <h1>Outfit Details</h1>
    <a href="/home">Back</a>
    <div class="form-div">
        <div class="outfit-card">
            <div id="a{{_id}}" class="carousel carousel-dark slide" data-mdb-ride="carousel" data-mdb-interval="false">
                <!-- Inner -->
                <div class="carousel-inner">
                    {{#each clothingData}}
                    <!-- Single Item -->
                    <div class="carousel-item">
                        <img class="outfit-card-image d-block w-100" src="/uploads/{{image}}" alt="{{name}}">
                    </div>
                    {{/each}}
                </div>

                <!-- Controls -->
                <button class="carousel-control-prev" type="button" data-mdb-target="#a{{_id}}" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#a{{_id}}" data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="outfit-details">
            <p class="outfit-creator">Creator: {{creator}}</p>
            <p class="outfit-likes">{{likes.length}} likes</p>
        </div>
        <a class="btn" id="like">Like</a>
        <a class="btn" id="save">Save</a>
        </br>
    </div>
    {{!-- TODO check comments length = 0 --}}
    <div class="form-div">
        <dl>
            <dt>Comments</dt>
            <dd id="no_comments"></dd>
            <dd>
                <ul id="comments"></ul>
            </dd>
        </dl>
        
        {{#if error}}
        <p class="error">{{error}}</p>
        {{/if}}

        <p class="error" id="error"></p>

        <form id="commentForm" method="POST" action="/detailed/comment">
            <label for="comment_term">Comment</label> <br />
            <textarea id="comment_term" name="comment" rows="4" cols="50" placeholder="Enter comment"> </textarea>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</article>