<article class="main">

    <h1 class="right">Outfit Details</h1>

    {{!-- image,username,likes,comments--}}

    {{#each clothingData}}
    <!-- Single Item -->
    <img src="/uploads/{{image}}" alt="{{name}}">
    {{/each}}

    {{!-- https://stackoverflow.com/questions/1713048/how-to-style-dt-and-dd-so-they-are-on-the-same-line --}}
    <dl>
        <dt> Creator </dt>
        <dd>{{creator}}</dd>


        <dt> Number of Likes </dt>
        <dd id="number_likes"> {{likes}}</dd>
    </dl>
    {{!-- TODO should update each time user presses like --}}

    {{!--like button;;save button;;add comment button --}}
    <a class="btn" id="like">Like</a>
    <a class="btn" id="save">Save</a>
    </br>

    {{!-- TODO check comments length = 0 --}}
    <dl>
        <dt>Comments</dt>
        <dd id="no_comments"></dd>
        <dd>
            <ul id="comments"></ul>
        </dd>
    </dl>


    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}

    <p class="error" id="error"></p>


    <form id="commentForm" method="POST" action="/detailed/comment">
        <label for="comment_term">Comment</label> <br />
        <textarea id="comment_term" name="comment" rows="4" cols="50" placeholder="Enter comment"> </textarea>
        <button type="submit" class="btn">submit</button>
    </form>



    
    <a href="/home">Back to Home</a>



    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


</article>