<link rel="stylesheet" href="/public/styles/clothes_styles.css">
<link rel="stylesheet" href="/public/styles/outfit_styles.css">
<h1>Edit outfit</h1>
<div>
    <p class="page-error">{{error}}</p>
    <br>
    <form class="edit-outfit-form" name"outfit-edit-form" method="POST" action="/outfits/edit/{{outfit._id}}">
    <div class="form-div">
        <p id="outfit-err" tabindex="0"></p>
        {{#each clothingItems}}
        <div class="clothing-item-card">
            <img class="clothing-item-image" alt="{{name}}" src="/uploads/{{image}}">
            <div class="clothing-item-details">
                <h3 class="clothing-item-title">{{name}}</h3>
                <p class="clothing-type">Type: {{type}}</p>
               <label class ="add-label"><input type="checkbox" {{#ifIdIn _id ../outfit.clothes}} checked {{/ifIdIn}} class="add-box">
               Add to outfit</label>
                <br>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="form-div">
        <p id = "form-err" tabindex="0"></p>
        <div id="name-div">
            <label class="input-label" for="name-input">Outfit Name *</label>
            <input id="name-input" name="name" type="text" value="{{outfit.outfitName}}" required>
        </div>
        <br>
        <div>
            <label class="input-label">Seasons</label>
            <input id="winter-input" type="checkbox" name="season[]" value="winter" {{#ifIn 'winter' outfit.season}} checked {{/ifIn}}>
            <label for="winter-input">Winter</label>
            <input id="spring-input" type="checkbox" name="season[]" value="spring" {{#ifIn 'spring' outfit.season}} checked {{/ifIn}}>
            <label for="spring-input">Spring</label>
            <input id="summer-input" type="checkbox" name="season[]" value="summer" {{#ifIn 'summer' outfit.season}} checked {{/ifIn}}>
            <label for="summer-input">Summer</label>
            <input id="fall-input" type="checkbox" name="season[]" value="fall" {{#ifIn 'fall' outfit.season}} checked {{/ifIn}}>
            <label for="fall-input">Fall</label>
        </div>
        <br>
        <div id="styles-div">
            <label class="input-label" for="styles-input">Styles</label>
            <input id="styles-input" type="text">
            <button id="styles-btn" class="add-btn" type="button">Add</button><br>
            <ul id="styles-list">
                {{#each outfit.style}}
                    <li>
                        {{this}}
                        <input type="hidden" name="style[]" value="{{this}}">
                        <button type="button" name="{{this}}" class="chip-btn" aria-label="delete {{this}}" title="delete {{this}}">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </button>
                    </li>
                {{/each}}
            </ul>
        </div>
        <br>
    <div><label for="public-chkbox" class="input-label">Public</label>
    <input type="checkbox" id="public-chkbox" class="public-box" name="public" value="public"  {{#equals 'public' outfit.status}} checked {{/equals}}>
    </div>
    </div><br>
    <button id="submit-btn" type="submit">Edit</button>
    </form>
    <br>
    <a href="/outfits">Go back</a>
<script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">
    </script>
</div>