<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/styles/stat_styles.css">
    <title>{{title}}</title>
</head>
<body>
    <main>
    <h1 class = "stats-title">{{title}}</h1>
    <div class="error-message">{{error}}</div>
    <section class ="stats-sect">
        <figure>
            <figcaption class="stats-caption">Types</figcaption>
            <ul>
                {{#each types}}
                <li class="stats-list capitalize">
                    {{@key}}: {{this}}
                </li>
                {{/each}}
            </ul>
        </figure>
        <figure>
            <figcaption class="stats-caption">Colors/Patterns</figcaption>
            <ul>
                {{#each colors-patterns}}
                <li class="stats-list capitalize">
                    {{@key}}: {{this}}
                </li>
                {{/each}}
            </ul>
        </figure>

        <figure>
            <figcaption class="stats-caption">Brands</figcaption>
            <ul>
                {{#each brands}}
                <li class="stats-list capitalize">
                    {{@key}}: {{this}}
                </li>
                {{/each}}
            </ul>
        </figure>

        <figure>
            <figcaption class="stats-caption">Outfits Worn</figcaption>
            <ul>
                {{#each outfitsWorn}}
                <li class="stats-list capitalize">
                    {{outfit}}: {{total}}
                    <p class="id_tag">{{_id}}</p>
                </li>
                {{/each}}
            </ul>
        </figure>

        <figure>
            <figcaption class="stats-caption">Clothes Worn</figcaption>
            <ul>
                {{#each clothesWorn}}
                <li class="stats-list capitalize">
                    {{cloth}}: {{total}}
                    <p class="id_tag">{{_id}}</p>
                </li>
                {{/each}}
            </ul>
        </figure>

        <a class="refresh" href="/stats">Refresh</a>
    </section>
    </main>
</body>
</html>