<h1>Log Outfits</h1>
<div>
    <div class="error-message">{{error}}</div>
    <p class="success">{{msg}}</p>
    <br>
    {{#each outfitItems}}
        <div class="outfit-item-card">
            <img class="clothing-item-image" alt="{{name}}" src="/uploads/{{image}}">
            <div class="outfit-item-details">
                <h3 class="outfit-item-title">{{name}}</h3>
                <p>Type: {{type}}</p>
                <form id="log-form" method="POST" action="/calendar/log">
                    <input type="submit" id="log" value={{_id}} />
                </form>
            </div>
        </div>
    {{/each}}
</div>